---
import {generatePagination} from "../utils/pagination.js";

const {current, total, path = '', queryParams = {}} = Astro.props;


const pagination = generatePagination(total, {

    path, 

    origin: Astro.url.origin,

    queryParams,

    currentPage: current,

    size: 5
});
---

<app-pagination>

    <nav class="p-4">
        <ul class="pagination justify-content-center">
    
            <li class="page-item">
                <a class="page-link" href={pagination.prev?.url.href} title="Anterior" 
                
                    class:list={[{disabled: !pagination.prev}]}
                >
                    <i class="bi bi-chevron-left" />
                </a>
            </li>
    
            {
                pagination.links.map((link) => {
    
                    return <li class="page-item">
                        <a class="page-link" href={link.url.href} class:list={[{active: current === link.page}]}>{link.page}</a>
                    </li>
                })
            }
    
            <li class="page-item">
                <a class="page-link" href={pagination.next?.url.href} title="Siguiente" 
                
                    class:list={[{disabled: !pagination.next}]}
                >
                    <i class="bi bi-chevron-right" />
                </a>
            </li>
        </ul>
    </nav>

</app-pagination>


<script>

    import {listenShow, getShow} from "../data/ShowStore.js";

    class Pagination extends HTMLElement {

        constructor(){

            super();

            const links = [...this.querySelectorAll('a')].filter(link => link.href);

            const show = getShow();

            if(show){

                links.forEach((link) => {

                    const url = new URL(link.href);

                    url.searchParams.set('show', show);

                    link.href = url.href;
                })
            }

            listenShow((value) => {

                links.forEach((link) => {

                    const url = new URL(link.href);

                    url.searchParams.set('show', value);

                    link.href = url.href;
                })
            });
        }
    }

    customElements.define('app-pagination', Pagination);

</script>