---
import {generatePagination} from "../utils/pagination.js";

const {current, total, path = '', queryParams = {}} = Astro.props;


// const LINKS = Array.from({length: total}).map((_, i) => {

//     const link = new URL(`${path}/${i + 1}`, Astro.url.origin);

//     Object.entries(queryParams).forEach(([key, value]) => {

//         if(value) link.searchParams.set(key, value);
//     })

//     return link;
// })

const pagination = generatePagination(total, {

    path, 

    origin: Astro.url.origin,

    queryParams,

    currentPage: current,

    size: 5
});

console.log(pagination);
---

<nav class="p-4">
    <ul class="pagination justify-content-center">

        <li class="page-item">
            <a class="page-link" href={pagination.prev?.url.href} title="Anterior" 
            
                class:list={[{disabled: !pagination.prev}]}
            >
                <i class="bi bi-chevron-left" />
            </a>
        </li>

        {
            pagination.links.map((link) => {

                return <li class="page-item">
                    <a class="page-link" href={link.url.href} class:list={[{active: current === link.page}]}>{link.page}</a>
                </li>
            })
        }

        <li class="page-item">
            <a class="page-link" href={pagination.next?.url.href} title="Siguiente" 
            
                class:list={[{disabled: !pagination.next}]}
            >
                <i class="bi bi-chevron-right" />
            </a>
        </li>
    </ul>
</nav>