---
    import { Image } from "astro:assets";
    import productImage from "@assets/placeholder-product-image.png"
    const {product} = Astro.props
    const {title,description,price,category,images,rating} = product
---

<article class="w-full h-auto p-3 flex flex-col items-center justify-center gap-y-1 bg-gradient-to-br from-blue-300 via-pink-300 to-orange-300 shadow-lg rounded-lg hover:opacity-75">
    <div>
        <Image src={productImage} alt={title} width={192} height={192} class="rounded-lg"/>
    </div>
    <div class="flex flex-col items-start justify-start">
        <h2 class="text-2xl font-tilt font-bold text-purple-950">{title}</h2>
        <p class="text-lg font-tilt font-light text-purple-950">{description}</p>
        <span class="text-sm font-tilt font-normal text-purple-950">{category}</span>
        <span class="text-sm font-tilt font-light text-purple-950">Price: ${price}</span>
        <span class="text-sm font-tilt font-light text-purple-950">Rating: {rating}/5</span>
    </div>
    
</article>