---
const query = Astro.url.searchParams.get('q')
const page = Astro.url.searchParams.get('p')
const res = await fetch(Astro.url.origin + `/api/items/data.json?q=${query}&p=${page || 0}`)
const {paginatedData: products,nextPage,prevPage,isLastPage} = await res.json()
---

<div>
    <h1>Productos</h1>
    <ul>
        {products.map((product)=>(
            <a href=`/items/${product.id}`>
                <li>{product.title}</li>
            </a>
        ))}
    </ul>
    <a href=`/items?q=${query}&p=${prevPage}`>Pagina anterior</a>
    <a href=`/items?q=${query}&p=${nextPage}` class:list={[isLastPage?"text-red-600":"text-blue-600"]}>Pagina siguiente</a>
</div>