---
import ProductCard from "./ProductCard.astro";
const query = Astro.url.searchParams.get('search')
const page = Astro.url.searchParams.get('page')
const res = await fetch(Astro.url.origin + `/api/items/data.json?search=${query}&page=${page || 0}`)
const {paginatedData: products,nextPage,prevPage,isLastPage,quantity} = await res.json()
---

<div class="max-w-sm sm:max-w-md md:max-w-4xl mx-auto p-2">
    <h1 class="text-lg sm:text-3xl font-tilt font-bold text-purple-950">Cantidad de productos encontrados: {quantity}</h1>
    <ul class="p-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-2 sm:gap-2">
        {products.map((product)=>(
            <ProductCard product={product}/>
        ))}
    </ul>
    <a href=`/items?search=${query}&page=${prevPage}`>Pagina anterior</a>
    <a href=`/items?search=${query}&page=${nextPage}` class:list={[isLastPage?"text-red-600":"text-blue-600"]}>Pagina siguiente</a>
</div>